{% macro row(view, show_title = true) %}
    <tr>

        {% if show_title and view.hasTitle %}
            <th>{{ view.title }}</th>
        {% endif %}

        <td>

            {% if view.empty %}
                &mdash;
            {% else %}

                {% if view.hasChildren %}
                    <table>

                        {% for child in view.children %}

                            {{ _self.row(child) }}

                        {% endfor %}

                    </table>
                {% endif %}

                {% if view.hasValue %}

                    {% if view.hasUrl %}
                        <a href="{{ view.url }}"
                           style="font-family: Arial, sans-serif; font-size: 15px; line-height: 23px; color: #333333;">
                            {{ view.value }}
                        </a>
                    {% else %}
                        {{ view.value|raw }}
                    {% endif %}

                {% endif %}

            {% endif %}

        </td>
    <tr>
{% endmacro %}

{% if view %}
    <table>

        {% if view.hasChildren %}

            {% for child in view.children %}

                {{ _self.row(child) }}

            {% endfor %}

        {% else %}

            {{ _self.row(view, false) }}

        {% endif %}

    </table>
{% endif %}
